
.background{
    position:absolute;
    object-fit:cover;
    z-index: -1;
    min-width: 100%;
    min-height: 100%
}

span {
    opacity: 0;
    transition: all 1s ease;
  }
  .fade {
    opacity: 1;
  } 

#content1,
#content2,
#content3,
#content4,
.fade-out{
 
}

#end-alert.disappear,
.disappear {
  display: none;
}

.fadeIn,
#title1,
#title2,
#weapon{
    margin-top 0;
    padding-top 0;
    justify-content: center;
    text-align: center;
    font-size: 30;
    color: beige;
    font-family: cursive;
}

#btn-container {
    position: relative;
    margin-left: 250px;

  }
.button {
    box-shadow: 0 0 20px 1px;
    position: sticky;
    left: 10px;
    opacity: 0.8;
    width: 150px;
    height: 150px;
    border: 1px solid white;
    margin: 75px;
    transition: all 0.4s ease;
}

.button img {
    width: 150px;
  }

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 20px 1px;
}

#alien{
  position: relative;
  left: 1400px;
  bottom :500px;
  opacity: .4
}
#score-box,
#score-container {
  display:flex;
  position: relative;
  z-index: 1;
  left: 800px;
  bottom: 800px;
}

.label {
  font-size: 30px;
  margin-top: 80px;
  padding: 0 40px;
  color: beige
}
.score {
  font-size: 80px;
  padding: 0px 40px;
  color: beige
}
